@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
}
/* Responsive styles for text */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 1rem;
  }
}
